.details {
    position: relative;
    padding: 20px;
    color: #fff;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: blur(8px); /* Apply a slight blur */
}

.background-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    z-index: -1;
}

.details-content {
    display: flex;
    align-items: flex-start;
    position: relative;
    z-index: 1;
}

.details-poster {
    flex: 0 0 300px; /* Fixed width for the poster */
    margin-right: 20px;
}

.details-poster img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.details-info {
    flex: 1;
}

.details-info h2 {
    margin-top: 0;
}

.details-info p {
    margin: 10px 0;
}

.details-buttons {
    margin-top: 20px;
}

.details-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

#watch-button {
    background-color: #ff6347;
    color: #fff;
}

#watch-button:hover {
    background-color: #ff4500;
}

#add-to-list-button {
    background-color: #ccc;
    color: #000;
}

#add-to-list-button:hover {
    background-color: #aaa;
}