#video-player {
    max-width: 100%; /* Não excede a largura da tela */
    max-height: 80vh; /* Não excede 80% da altura da janela */
    width: 100%; /* Ocupa 100% da largura disponível */
    height: auto; /* Proporção automática */
    display: block; /* Centraliza no contêiner */
    margin: 0 auto;
}

.watch {
    text-align: center; /* Centraliza título e player */
}
